
:root {
  --scrollbarBgColor: rgba(0, 0, 0, .05);
  --scrollbarThumbColor: rgba(0, 0, 0, .15);
  --scrollbarThumbColorSecond: rgba(255, 255, 255, .7);
  --scrollbarWidth: 16px;
  --scrollbarBorder: 0 solid var(--scrollbarBgColor);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
}
body {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
}
body::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBgColor);
  border-radius: var(--scrollbarBorderRadius);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbColor);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
  background-image: linear-gradient(
    180deg,
    var(--scrollbarThumbColor) 0%,
    var(--scrollbarThumbColorSecond) 90%
  );
}

/* this stuff below doesn't
   affect scrollbar styling */

body {
  /* width: clamp(200px, 50%, 300px); */
  height: 75vh;
  /* overflow: auto; */
}

 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
 
.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-item:hover {
  background-color: #CFD8DC;
}
 
 
#menu-toggle{
  opacity: 0;
}
 
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  left: 75%;
}
body{
  line-height: 1.5;
  font-size: 120%;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
main{
  background-color: #dcdffc ;
}
.header_wrap{ 
  font-size: 120%;
  border: 1px solid #211c1c;
  background-color: azure;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
  box-sizing: border-box;
  max-width: 1330px;
  margin: 0 auto;
}
.st1 .st2 .st3 .st4 .st5 .st7 a{
  color: gray;
  text-decoration: none;
}
.st1:hover{
  color: brown;
}
.st2:hover{
  color: brown;
}
.st3:hover{
  color: brown;
}
.st4:hover{
  color: brown;
}
.st5:hover{
  color: brown;
}
.st7:hover{
  color: brown;
}
.menu{
  display: flex;
  list-style: none;
}
.menu li{
  margin-left: 94px;
}
.menu li a{
  color: gray;
  text-decoration: none;
}
.menu li a:hover{
  color: red;
}
.logo{
  width: 100px;
  height: 120px;
}
.tp {
  border: 1px solid #211c1c;
  margin: 0 auto;
  align-items: center;
  bottom: 0;
  position:relative;
  display: flex;
  text-align: center;
  justify-content: center;
  column-gap: 25px;
}
.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 100%;
  width: 200px;
  height: 35%;
  margin: 0;
  padding: 90px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu-btn{
  margin-right: 25%;
  margin-top: 102px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right:0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.Karta img{ 
  margin-bottom: 6px;
  border-radius: 100%;
  margin-top: 15px;
  height: 40px ;
  width: 40px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: tan;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: blueviolet;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}
header{
margin: 0 auto;
}

*{
font-family: sans-serif;
padding: 0;
margin: 0;
}

.tp img{
width: 60px;  
height: 60px;
}

.tp p{
  margin-top: 20px;
}

.sect a{
align-items: center;
  border-radius: 40px ;
  text-align: center;
  justify-content: center;
 font-size:2rem;
  background-color:aliceblue;
  width: 100%;
  height: 12%;
margin-bottom: 30px;
margin-top: 12%;
  display: flex;
text-decoration: none;


}

.fhoto img{
  border: 3px solid brown;
  width: 100%;
}
.osnova{
  gap: 100px;
  display: flex;
  flex-direction: column;
}
.sect {
  flex-direction: column;
display: flex;
}
@media (max-width:768px) {
  body{
         background-color: azure;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: 250%;
  }
  .osnova{
    flex-direction: row;
  }
  .fhoto{
  
    width:100%;
  }
}
@media (max-width:1024px) {
  body{
         background-color: azure;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: 150%;
  }
  .osnova{
    flex-direction: row;
  }
}

@media (max-width:1440px) {
  .osnova{
    body {
           background-color: azure;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           background-size: 150%;
    }
    justify-content: center;
    flex-direction: row;
  }
  .menu-btn{
    margin-right:500px;
    margin-top: 102px;
    z-index: 1;
  }

    .menubox{
      z-index: 1;
    }
  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 7%;
}
  .taip{
    padding-right: 10px;
    padding-left:10px ;
  width:max-content ;
  }
.sect a{
  box-shadow: 0 0 20px #CEB4B4;
  margin: 50px;
}
.sect a:hover{
box-shadow: none;
}
.fhoto{
  margin: 40px;
}
}
@media (max-width:2560px) {
  body{
         background-color: azure;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: 150%;
  }
  .osnova{
    justify-content: center;
    flex-direction: row;
  }
  .menu-btn{
    margin-right: 25%;
  }
  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 78%;
}
  .taip{
    padding-right: 10px;
    padding-left:10px ;
  width:max-content ;
  }
.sect a{
  box-shadow: 0 0 20px #CEB4B4;
  margin: 50px;
}
.sect a:hover{
box-shadow: none;
}
.fhoto{
  margin: 40px;
}
}
@media (max-width:3440px) {
  body{
         background-color: azure;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: 150%;
  }
  .osnova{
    justify-content: center;
    flex-direction: row;
  }
  .menu-btn{
    margin-right: 30%;
  }
  .tp {
    padding: 66px;
  }
  .taip{
    padding-right: 10px;
    padding-left:10px ;
  width:max-content ;
  }
.sect a{
  box-shadow: 0 0 20px blueviolet;
  margin: 40px;
}
.menu-btn{
z-index: 1;
}
.menubox{
z-index: 1;
}
.sect a:hover{
box-shadow: none;
}
.fhoto{
  margin: 40px;
}
} 
.st5 {
  animation: animka 3.5s linear forwards;
}
.st4 {
  animation: animka 2.5s linear forwards;
}
.st3 {
  animation: animka 2s linear forwards;
}
.st2 {
  animation: animka 1.5s linear forwards;
}
.st1  {
  
  animation: animka 1s linear forwards;
}
.st6  {
  
  animation: animka 2s linear forwards;
}
.st7  {
  
  animation: animka 3s linear forwards;
}

@keyframes animka{
  0% {
      opacity: 0%;
  }
  100% {
    opacity: 100%;
}
}